*.o
*.a
*~
blant
canon-sift
holding
machines.89
make-canon-maps
Draw/graphette2dot
blant-sanity
canon_maps/
fast-canon-map
libwayne/MT19937/mt19937
libwayne/made
make-orbit-maps
makeEHD
compute-alphas-MCMC
compute-alphas-NBE

tmp/
ignore/

.trash.*

core*

#Vi/vim swp files
*.swp
.un~

orca_jesse_blant_table/UpperToLower*
make-orca-jesse-blant-table
make-subcanon-maps
*.dot
*.pdf
