# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  test-ubuntu:
    machine:
      image: ubuntu-2004:202010-01
    resource_class: medium
      
    steps:
      - checkout
      
      - run:
          name: "check libwayen path"
          command: "export PATH=\"$PATH:/libwayne/bin\""
      - run:
          name: "run regression test"
          command: "ulimit -c 0 -s unlimited; ./regression-test-all.sh -make"

  test-MacOS-Intel:
    macos:
      xcode: "14.2.0"
    resource_class: medium
      
    steps:
      - checkout
      
      - run:
          name: "check libwayen path"
          command: "export PATH=\"$PATH:/libwayne/bin\""
      - run:
          name: "run regression test"
          command: "ulimit -c 0 -s 65532; ./regression-test-all.sh -make"

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  test-workflow:
    jobs:
      - test-MacOS-Intel
      - test-ubuntu
